{{ define "main" }}
<div class="container-padding">
    <h1>{{ .Title }}</h1>

    <div class="mb-5">
    {{ .Content }}
    </div>

    <div class="row">
        {{/* Get posts in the 'artist-interview' category */}}
        {{ range (.Paginate (.Site.Taxonomies.categories.Get "artist-interview") 10).Pages }}
        {{ partial "interview_item.html" . }}
        {{ end}}
    </div>
    {{ template "_internal/pagination.html" . }}
</div>
{{ end }}
