{{ define "main" }}
<div class="post">
    <h1 style="margin-bottom: 0.5rem">{{ .Title }}</h1>

    <div style="text-align: center; margin-bottom: 2rem;">

        {{ if .Prev }}
        <a class="link-reverse" href="{{ .Prev.Permalink }}?ref=footer">{{ i18n "previous-post" }}</a>
        {{ end }}

        <span class="vertical-divider">|</span>

        <span>{{ partial "i18n_date.html" . }}</span> 
        <span class="vertical-divider">|</span>
        <span> {{ i18n "reading-time" }}<em> {{ i18n "minutes" . }}</em></span> 

        <span class="vertical-divider">|</span>

        {{ if .Next }}
        <a class="link-reverse" href="{{ .Next.Permalink }}?ref=footer">{{ i18n "next-post" }}</a>
        {{ end }}


    </div>

    {{ .Content }}
</div>
{{ end }}
